body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 480px) {
  .ant-picker-calendar {
    font-size: 12px;
  }

  .ant-picker-calendar .ant-picker-cell {
    padding: 2px !important;
    height: 55px !important;
  }

  .ant-picker-panel {
    padding: 0 !important;
  }

  .ant-picker-date-panel .ant-picker-body {
    padding: 0 !important;
  }

  .ant-picker-cell-inner {
    padding: 0 !important;
  }
}
